# Python environments
venv/
env/
.venv/
.env
**/.env

# Django database
*.sqlite3
*.sqlite3-*

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Django migrations
**/migrations/*
!**/migrations/__init__.py

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Log & test files
*.log
*.coverage
htmlcov/

# Others
*.bak
*.tmp